<% provide(:title, @board.name) %>

<div class="row">
	<div class="pull-left"><h1><%= @board.name %></h1></div>
</div>
<div class="board" style="background-image: url(<%= asset_path 'tile.png' %>); border-style:solid;border-color:gray;border-width:15px;position: relative; width: <%= Integer(@board.width) * 64 %>px; height: <%= Integer(@board.height) * 64 %>px;">
	<div class="ad_container" style="position: relative; box-shadow: 0px 0px 3px #000000; width: <%= Integer(@board.width) * 64 %>px; height: <%= Integer(@board.height) * 64 %>px;">
		<% @board.advertisements.each do |advertisement| %>
		<!-- <div style="position: absolute; left: <%= advertisement.x_location * 64 %>px; top: <%= advertisement.y_location * 64 %>px; width: <%= advertisement.width * 64 %>px; height: <%= advertisement.height * 64 %>px; padding: 0px; margin:0px;"> -->
		<img src="<%= url_for(:controller => "images", :action => "show", :id => advertisement.id)%>" id="<%= "ad_#{advertisement.id}_image" %>" style="position: absolute; left: <%= advertisement.x_location * 64 %>px; top: <%= advertisement.y_location * 64 %>px; width: <%= advertisement.width * 64 %>px; height: <%= advertisement.height * 64 %>px; padding: 0px; margin:0px;">
	<% end %>
</div>
<br>
<div>
	<div style='color:white;'><%= @board.timezone %></div>
	<div style='color:white;'><%= "Created by: #{@board.user.name}" %></div>
	<div style='color:white;'><%= "Width: #{pluralize(@board.width, 'tile')}" %></div>
	<div style='color:white;'><%= "Height: #{pluralize(@board.height, 'tile')}" %></div>
	<div style='color:white;'><%= button_to "Create advertisement", new_board_advertisement_path(@board), query: @board.id, :method => "get", class: "btn btn-medium btn-inverse" %></div>
</div>